#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #f0f8ff; /* Example: AliceBlue background color */
  background-size: cover; /* Ensure the image covers the whole page */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-attachment: fixed; /* Fix the background image */
}
